name: Build Multi-Platform

on:
  push:
    branches: [ master, main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Install MAUI workload
        run: dotnet workload install maui-windows
      - name: Restore dependencies
        run: dotnet restore zuoleme.csproj  -p:TargetFramework=net10.0-windows10.0.19041.0
      - name: Build Windows MSIX
        run: dotnet publish zuoleme.csproj -c Release -f net10.0-windows10.0.19041.0 /p:TargetFrameworks=net10.0-windows10.0.19041.0 /p:RuntimeIdentifierOverride=win10-x64
      - name: Upload Windows MSIX
        uses: actions/upload-artifact@v4
        with:
          name: windows-msix
          path: |
            **/AppPackages/**/*.msix
            **/bin/Release/net10.0-windows10.0.19041.0/win10-x64/publish/**
